# __OBTENCION DE DATOS__

## __La base de datos de la canasta basica rural y urbana abarca un periodo desde el 2001 hasta enero del 2025__

## la obtencion de los datos fue a travez de tecnicas de web scraping y la consulta de diversos sitios web ya que la descarga directa de los sitios oficiales no era directamente en algun formato .csv , ni formato .xls y no se trataban tampoco de algun archivo Excel nativo, sino un archivo en formato HTML con tablas que Excel puede abrir, pero no es un verdadero archivo de Excel. Esto explicaba por qué al querer abrirlo en Jupyter Notebook se mostraba código HTML en lugar de datos tabulares.

___

### Los datos de "La Canasta Basica Alimentaria de El Salvador rural" fueron obtenidos del sitio web de la OFICINA NACIONAL DEL ESTADISTICA Y CENSO DE EL SALVADOR (ONEC-BCR)

### *https://onec.bcr.gob.sv/ipc_consulta/ipc_dat.asp*

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import io  # Importar StringIO

# Cargar el archivo como texto
with open("descarga (1).xls", "r", encoding="utf-8") as f:
    html_content = f.read()

# Parsear el contenido HTML con BeautifulSoup
soup = BeautifulSoup(html_content, "html.parser")

# Extraer todas las tablas
tables = soup.find_all("table")

# Convertir la primera tabla en un DataFrame 
df = pd.read_html(io.StringIO(str(tables[0])))[0]

# Mostrar los primeros registros
df.head()

# Guardar en CSV 
#df.to_csv("canasta_basica_rural .csv", index=False)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,AÑO,ARTÍCULO,GRAMOS POR PERSONA,RURAL,RURAL,RURAL,RURAL,RURAL,RURAL,RURAL,RURAL,RURAL,RURAL,RURAL,RURAL
1,AÑO,ARTÍCULO,GRAMOS POR PERSONA,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE
2,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001
3,2001,Tortillas,402,0.3000,0.3000,0.3000,0.3100,0.3000,0.3100,0.3200,0.3200,0.3200,0.3100,0.3100,0.3000
4,2001,Arroz,39,0.0300,0.0300,0.0300,0.0300,0.0300,0.0300,0.0300,0.0300,0.0300,0.0300,0.0300,0.0300

___

### Los datos de "La Canasta Basica Alimentaria de El Salvador urbana" fueron obtenidos del sitio web de la OFICINA NACIONAL DEL ESTADISTICA Y CENSO DE EL SALVADOR (ONEC-BCR)

### *https://onec.bcr.gob.sv/ipc_consulta/ipc_dat.asp*

In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import io  # Importar StringIO

# Cargar el archivo 
with open("descarga.xls", "r", encoding="utf-8") as f:
    html_content = f.read()

# Pasar el contenido HTML con BeautifulSoup
soup = BeautifulSoup(html_content, "html.parser")

# Extraer todas las tablas
tables = soup.find_all("table")

# Convertir la primera tabla en un DataFrame 
df = pd.read_html(io.StringIO(str(tables[0])))[0]

# Mostrar los primeros registros
df.head()

# Guardar en CSV 
#df.to_csv("canasta_basica_urbana .csv", index=False)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,AÑO,ARTÍCULO,GRAMOS POR PERSONA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA
1,AÑO,ARTÍCULO,GRAMOS POR PERSONA,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE
2,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001
3,2001,Pan Francés,49,0.0700,0.0700,0.0700,0.0700,0.0700,0.0600,0.0600,0.0700,0.0600,0.0600,0.0700,0.0700
4,2001,Tortillas,223,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1200,0.1200,0.1200,0.1200,0.1100,0.1100

___

# __LIMPIEZA DE LOS DATOS__

# <ins> CANASTA BASICA URBANA </ins>

In [3]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv("canasta_basica_urbana .csv")

# Mostrar las primeras filas
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,AÑO,ARTÍCULO,GRAMOS POR PERSONA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA,URBANA
1,AÑO,ARTÍCULO,GRAMOS POR PERSONA,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE
2,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001,2001
3,2001,Pan Francés,49,0.0700,0.0700,0.0700,0.0700,0.0700,0.0600,0.0600,0.0700,0.0600,0.0600,0.0700,0.0700
4,2001,Tortillas,223,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1200,0.1200,0.1200,0.1200,0.1100,0.1100

In [4]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv("canasta_basica_urbana .csv")

# Eliminar filas innecesarias
df = df.drop([0, 2], axis=0).reset_index(drop=True)

# Mostrar las primeras filas
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,AÑO,ARTÍCULO,GRAMOS POR PERSONA,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE
1,2001,Pan Francés,49,0.0700,0.0700,0.0700,0.0700,0.0700,0.0600,0.0600,0.0700,0.0600,0.0600,0.0700,0.0700
2,2001,Tortillas,223,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1200,0.1200,0.1200,0.1200,0.1100,0.1100
3,2001,Arroz,55,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0400,0.0500,0.0500
4,2001,Carnes 1_ /,60,0.2500,0.2500,0.2500,0.2500,0.2500,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600

In [5]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv("canasta_basica_urbana .csv")

# Eliminar filas innecesarias
df = df.drop([0, 1, 2], axis=0).reset_index(drop=True)
df.index = range(1, len(df) + 1)

# Convertir las columnas de enero a diciembre a tipo numérico y redondear a 2 decimales
meses = ['3','4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14']

# Asegurar que los valores sean numéricos y redondear
#df[meses] = df[meses].apply(pd.to_numeric, errors='coerce')

# RENOMBRANDO LAS COLUMNAS
df.rename(columns={
    '0':'AÑO',
    '1': 'ARTICULO',
    '2': 'GRAMOS POR PERSONAS',
    '3': 'ENERO',
    '4': 'FEBRERO',
    '5': 'MARZO',
    '6': 'ABRIL',
    '7': 'MAYO',
    '8': 'JUNIO',
    '9': 'JULIO',
    '10': 'AGOSTO',
    '11': 'SEPTIEMBRE',
    '12': 'OCTUBRE',
    '13': 'NOVIEMBRE',
    '14': 'DICIEMBRE' },
          inplace=True)

# Mostrar las primeras filas
df.head(17)

,AÑO,ARTICULO,GRAMOS POR PERSONAS,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE
1,2001,Pan Francés,49,0.0700,0.0700,0.0700,0.0700,0.0700,0.0600,0.0600,0.0700,0.0600,0.0600,0.0700,0.0700
2,2001,Tortillas,223,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1200,0.1200,0.1200,0.1200,0.1100,0.1100
3,2001,Arroz,55,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0400,0.0500,0.0500
4,2001,Carnes 1_ /,60,0.2500,0.2500,0.2500,0.2500,0.2500,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600
5,2001,Grasas 2 _ /,33,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
6,2001,Huevos,28,0.0600,0.0600,0.0600,0.0600,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0600
7,2001,Leche Fluida *,106,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0700,0.0700,0.0700,0.0800,0.0800
8,2001,Frutas 3_ /,157,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0500,0.0600,0.0600,0.0700,0.0700,0.0600
9,2001,Frijoles,79,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0800,0.0900,0.0800
10,2001,Verduras 4_ /,127,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1000,0.1000,0.1100,0.1200,0.1000
11,2001,Azúcar,69,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0500,0.0400
12,2001,Costo diario por persona,0,0.9500,0.9500,0.9500,0.9500,0.9400,0.9400,0.9500,0.9500,0.9500,0.9600,0.9800,0.9500
13,2001,más 10% (cocción),0,1.0500,1.0500,1.0500,1.0500,1.0300,1.0300,1.0500,1.0500,1.0500,1.0600,1.0800,1.0500
14,2001,Costo diario por familia de 4.08 miembros,0,4.2800,4.2800,4.2800,4.2800,4.2000,4.2000,4.2800,4.2800,4.2800,4.3200,4.4100,4.2800
15,2001,Costo mensual por familia**,0,128.4000,128.4000,128.4000,128.4000,126.0000,126.0000,128.4000,128.4000,128.4000,129.6000,132.3000,128.4000
16,2002,2002,2002,2002,2002,2002,2002,2002,2002,2002,2002,2002,2002,2002,2002
17,2002,Pan Francés,49,0.0700,0.0600,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700

In [17]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv("canasta_basica_urbana .csv")

# Eliminar filas innecesarias
df = df.drop([0, 1, 2], axis=0).reset_index(drop=True)
df.index = range(1, len(df) + 1)

# Convertir las columnas de enero a diciembre a tipo numérico y redondear a 2 decimales
meses = ['3','4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14']

# Asegurar que los valores sean numéricos y redondear
#df[meses] = df[meses].apply(pd.to_numeric, errors='coerce')

# RENOMBRANDO LAS COLUMNAS
df.rename(columns={
    '0':'AÑO',
    '1': 'ARTICULO',
    '2': 'GRAMOS POR PERSONAS',
    '3': 'ENERO',
    '4': 'FEBRERO',
    '5': 'MARZO',
    '6': 'ABRIL',
    '7': 'MAYO',
    '8': 'JUNIO',
    '9': 'JULIO',
    '10': 'AGOSTO',
    '11': 'SEPTIEMBRE',
    '12': 'OCTUBRE',
    '13': 'NOVIEMBRE',
    '14': 'DICIEMBRE' },
          inplace=True)

df = df.drop([12, 13, 14, 15], axis=0).reset_index(drop=True)
df.index = range(1, len(df) + 1)

# LIMPIEZA DE FILAS NO NECESARIAS
n = 16  # Cada cuántas filas se repite
df = df.drop(df.index[11::n])# Elimina cada n-ésima fila


df.to_csv("canasta_basica_urbana_1 DEPURACION.csv", index=False, encoding="utf-8-sig")

df.head(24)

,AÑO,ARTICULO,GRAMOS POR PERSONAS,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE
1,2001,Pan Francés,49,0.0700,0.0700,0.0700,0.0700,0.0700,0.0600,0.0600,0.0700,0.0600,0.0600,0.0700,0.0700
2,2001,Tortillas,223,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1200,0.1200,0.1200,0.1200,0.1100,0.1100
3,2001,Arroz,55,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0400,0.0500,0.0500
4,2001,Carnes 1_ /,60,0.2500,0.2500,0.2500,0.2500,0.2500,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600
5,2001,Grasas 2 _ /,33,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
6,2001,Huevos,28,0.0600,0.0600,0.0600,0.0600,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0600
7,2001,Leche Fluida *,106,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0700,0.0700,0.0700,0.0800,0.0800
8,2001,Frutas 3_ /,157,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0500,0.0600,0.0600,0.0700,0.0700,0.0600
9,2001,Frijoles,79,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0800,0.0900,0.0800
10,2001,Verduras 4_ /,127,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1000,0.1000,0.1100,0.1200,0.1000
11,2001,Azúcar,69,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0500,0.0400
13,2002,Pan Francés,49,0.0700,0.0600,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700
14,2002,Tortillas,223,0.1200,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100
15,2002,Arroz,55,0.0500,0.0500,0.0500,0.0500,0.0500,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400
16,2002,Carnes 1_ /,60,0.2600,0.2600,0.2600,0.2700,0.2600,0.2600,0.2600,0.2700,0.2700,0.2600,0.2700,0.2700
17,2002,Grasas 2 _ /,33,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
18,2002,Huevos,28,0.0600,0.0600,0.0600,0.0600,0.0600,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
19,2002,Leche Fluida *,106,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0700,0.0700,0.0700,0.0800,0.0800,0.0800
20,2002,Frutas 3_ /,157,0.0600,0.0600,0.0600,0.0600,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700
21,2002,Frijoles,79,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0700,0.0700,0.0800,0.0700,0.0700
22,2002,Verduras 4_ /,127,0.0900,0.0900,0.0900,0.1000,0.1200,0.1300,0.1300,0.1100,0.0900,0.1100,0.1000,0.1100
23,2002,Azúcar,69,0.0500,0.0500,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400
24,2002,Costo diario por persona,0,0.9500,0.9400,0.9400,0.9600,0.9700,0.9800,0.9800,0.9700,0.9500,0.9600,0.9600,0.9600
25,2002,más 10% (cocción),0,1.0500,1.0300,1.0300,1.0600,1.0700,1.0800,1.0800,1.0700,1.0500,1.0600,1.0600,1.0600

# SEGUNDA DEPURACION

In [13]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv("canasta_basica_urbana_1 DEPURACION.csv")

# Generar la lista de índices a eliminar
costo_diario_por_persona = list(range(22, 372, 15))  
coccion = list(range(23, 372, 15))  
celda_24 = list(range(24, 372, 15))  # costo diario por familia
celda_25 = list(range(25, 372, 15))  # costo mensual por familia

# Combinar todas las listas
indices_a_eliminar = costo_diario_por_persona + coccion + celda_24 + celda_25

# Eliminar las filas del DataFrame
df = df.drop(indices_a_eliminar).reset_index(drop=True)
df.index = range(1, len(df) + 1)

df.to_csv("canasta_basica_urbana_2 DEPURACION.csv", index=False, encoding="utf-8-sig")

# Mostrar las primeras 60 filas para verificar
df.head(60)

,AÑO,ARTICULO,GRAMOS POR PERSONAS,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE
1,2001,Pan Francés,49,0.07,0.07,0.07,0.07,0.07,0.06,0.06,0.07,0.06,0.06,0.07,0.07
2,2001,Tortillas,223,0.11,0.11,0.11,0.11,0.11,0.11,0.12,0.12,0.12,0.12,0.11,0.11
3,2001,Arroz,55,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.04,0.05,0.05
4,2001,Carnes 1_ /,60,0.25,0.25,0.25,0.25,0.25,0.26,0.26,0.26,0.26,0.26,0.26,0.26
5,2001,Grasas 2 _ /,33,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
6,2001,Huevos,28,0.06,0.06,0.06,0.06,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.06
7,2001,Leche Fluida *,106,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.07,0.07,0.07,0.08,0.08
8,2001,Frutas 3_ /,157,0.06,0.06,0.06,0.06,0.06,0.06,0.05,0.06,0.06,0.07,0.07,0.06
9,2001,Frijoles,79,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.08,0.09,0.08
10,2001,Verduras 4_ /,127,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.10,0.10,0.11,0.12,0.10
11,2001,Azúcar,69,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.05,0.04
12,2002,Pan Francés,49,0.07,0.06,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07
13,2002,Tortillas,223,0.12,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11
14,2002,Arroz,55,0.05,0.05,0.05,0.05,0.05,0.04,0.04,0.04,0.04,0.04,0.04,0.04
15,2002,Carnes 1_ /,60,0.26,0.26,0.26,0.27,0.26,0.26,0.26,0.27,0.27,0.26,0.27,0.27
16,2002,Grasas 2 _ /,33,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
17,2002,Huevos,28,0.06,0.06,0.06,0.06,0.06,0.05,0.05,0.05,0.05,0.05,0.05,0.05
18,2002,Leche Fluida *,106,0.08,0.08,0.08,0.08,0.08,0.08,0.07,0.07,0.07,0.08,0.08,0.08
19,2002,Frutas 3_ /,157,0.06,0.06,0.06,0.06,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07
20,2002,Frijoles,79,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.07,0.07,0.08,0.07,0.07
21,2002,Verduras 4_ /,127,0.09,0.09,0.09,0.10,0.12,0.13,0.13,0.11,0.09,0.11,0.10,0.11
22,2002,Azúcar,69,0.05,0.05,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04
23,2003,Pan Francés,49,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.08
24,2003,Tortillas,223,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.12,0.12,0.12,0.11
25,2003,Arroz,55,0.04,0.04,0.04,0.04,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
26,2003,Carnes 1_ /,60,0.27,0.27,0.27,0.26,0.27,0.26,0.27,0.27,0.27,0.26,0.26,0.26
27,2003,Grasas 2 _ /,33,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.06
28,2003,Huevos,28,0.05,0.05,0.05,0.06,0.06,0.05,0.06,0.06,0.06,0.06,0.06,0.06
29,2003,Leche Fluida *,106,0.08,0.08,0.08,0.08,0.07,0.08,0.07,0.08,0.07,0.07,0.07,0.07
30,2003,Frutas 3_ /,157,0.06,0.06,0.07,0.06,0.06,0.07,0.07,0.07,0.07,0.07,0.07,0.06
31,2003,Frijoles,79,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07
32,2003,Verduras 4_ /,127,0.11,0.11,0.10,0.10,0.10,0.11,0.10,0.10,0.11,0.12,0.12,0.12
33,2003,Azúcar,69,0.04,0.04,0.04,0.04,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
34,2004,Pan Francés,49,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.08,0.08
35,2004,Tortillas,223,0.12,0.11,0.11,0.11,0.12,0.12,0.13,0.13,0.13,0.13,0.13,0.12
36,2004,Arroz,55,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
37,2004,Carnes 1_ /,60,0.26,0.26,0.26,0.26,0.26,0.26,0.26,0.26,0.26,0.26,0.26,0.26
38,2004,Grasas 2 _ /,33,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06
39,2004,Huevos,28,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06
40,2004,Leche Fluida *,106,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.08
41,2004,Frutas 3_ /,157,0.07,0.07,0.06,0.06,0.06,0.06,0.06,0.07,0.06,0.06,0.06,0.06
42,2004,Frijoles,79,0.07,0.07,0.07,0.07,0.07,0.08,0.09,0.10,0.10,0.11,0.11,0.10
43,2004,Verduras 4_ /,127,0.11,0.10,0.09,0.10,0.11,0.11,0.10,0.09,0.09,0.10,0.11,0.10
44,2004,Azúcar,69,0.05,0.05,0.04,0.04,0.05,0.04,0.04,0.04,0.04,0.04,0.04,0.05
45,2005,Pan Francés,49,0.08,0.07,0.08,0.07,0.07,0.07,0.07,0.07,0.07,0.08,0.08,0.08
46,2005,Tortillas,223,0.13,0.13,0.12,0.12,0.12,0.12,0.13,0.12,0.12,0.13,0.13,0.12
47,2005,Arroz,55,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
48,2005,Carnes 1_ /,60,0.27,0.27,0.26,0.27,0.27,0.27,0.27,0.27,0.28,0.28,0.28,0.28
49,2005,Grasas 2 _ /,33,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06
50,2005,Huevos,28,0.06,0.06,0.06,0.07,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06
51,2005,Leche Fluida *,106,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.08
52,2005,Frutas 3_ /,157,0.07,0.07,0.07,0.06,0.07,0.06,0.07,0.07,0.07,0.08,0.07,0.07
53,2005,Frijoles,79,0.10,0.10,0.10,0.10,0.10,0.11,0.10,0.10,0.10,0.11,0.10,0.10
54,2005,Verduras 4_ /,127,0.11,0.11,0.11,0.10,0.11,0.12,0.13,0.13,0.13,0.15,0.13,0.12
55,2005,Azúcar,69,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
56,2006,Pan Francés,49,0.08,0.07,0.08,0.08,0.07,0.08,0.08,0.07,0.08,0.08,0.08,0.08
57,2006,Tortillas,223,0.12,0.13,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.13,0.13,0.13
58,2006,Arroz,55,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
59,2006,Carnes 1_ /,60,0.29,0.29,0.29,0.30,0.30,0.30,0.30,0.30,0.30,0.30,0.30,0.30
60,2006,Grasas 2 _ /,33,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06

In [9]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv("canasta_basica_urbana_1 DEPURACION.csv")

# Generar la lista de índices a eliminar
costo_diario_por_persona = list(range(22, 372, 15))  
coccion = list(range(23, 372, 15))  
celda_24 = list(range(24, 372, 15))  # costo diario por familia
celda_25 = list(range(25, 372, 15))  # costo mensual por familia

# Combinar todas las listas
indices_a_eliminar = costo_diario_por_persona + coccion + celda_24 + celda_25

# Eliminar las filas del DataFrame
df = df.drop(indices_a_eliminar).reset_index(drop=True)
df.index = range(1, len(df) + 1)

df.to_csv("canasta_basica_urbana_REVISION.csv", index=False, encoding="utf-8-sig")

# Mostrar las primeras 60 filas para verificar
df.head(22)

,AÑO,ARTICULO,GRAMOS POR PERSONAS,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE
1,2001,Pan Francés,49,0.07,0.07,0.07,0.07,0.07,0.06,0.06,0.07,0.06,0.06,0.07,0.07
2,2001,Tortillas,223,0.11,0.11,0.11,0.11,0.11,0.11,0.12,0.12,0.12,0.12,0.11,0.11
3,2001,Arroz,55,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.04,0.05,0.05
4,2001,Carnes 1_ /,60,0.25,0.25,0.25,0.25,0.25,0.26,0.26,0.26,0.26,0.26,0.26,0.26
5,2001,Grasas 2 _ /,33,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
6,2001,Huevos,28,0.06,0.06,0.06,0.06,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.06
7,2001,Leche Fluida *,106,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.07,0.07,0.07,0.08,0.08
8,2001,Frutas 3_ /,157,0.06,0.06,0.06,0.06,0.06,0.06,0.05,0.06,0.06,0.07,0.07,0.06
9,2001,Frijoles,79,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.08,0.09,0.08
10,2001,Verduras 4_ /,127,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.10,0.10,0.11,0.12,0.10
11,2001,Azúcar,69,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.05,0.04
12,2002,Pan Francés,49,0.07,0.06,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07
13,2002,Tortillas,223,0.12,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11,0.11
14,2002,Arroz,55,0.05,0.05,0.05,0.05,0.05,0.04,0.04,0.04,0.04,0.04,0.04,0.04
15,2002,Carnes 1_ /,60,0.26,0.26,0.26,0.27,0.26,0.26,0.26,0.27,0.27,0.26,0.27,0.27
16,2002,Grasas 2 _ /,33,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
17,2002,Huevos,28,0.06,0.06,0.06,0.06,0.06,0.05,0.05,0.05,0.05,0.05,0.05,0.05
18,2002,Leche Fluida *,106,0.08,0.08,0.08,0.08,0.08,0.08,0.07,0.07,0.07,0.08,0.08,0.08
19,2002,Frutas 3_ /,157,0.06,0.06,0.06,0.06,0.07,0.07,0.07,0.07,0.07,0.07,0.07,0.07
20,2002,Frijoles,79,0.08,0.08,0.08,0.08,0.08,0.08,0.08,0.07,0.07,0.08,0.07,0.07
21,2002,Verduras 4_ /,127,0.09,0.09,0.09,0.10,0.12,0.13,0.13,0.11,0.09,0.11,0.10,0.11
22,2002,Azúcar,69,0.05,0.05,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04

In [30]:
import pandas as pd

# Cargar el archivo CSV
df = pd.read_csv("canasta_basica_urbana_1 DEPURACION.csv")

# Generar la lista de índices a eliminar
costo_diario_por_persona = list(range(22, 372, 15))  
coccion = list(range(23, 372, 15))  
celda_24 = list(range(24, 372, 15))  # costo diario por familia
celda_25 = list(range(25, 372, 15))  # costo mensual por familia

# Combinar todas las listas
indices_a_eliminar = costo_diario_por_persona + coccion + celda_24 + celda_25

# Eliminar las filas del DataFrame
df = df.drop(indices_a_eliminar).reset_index(drop=True)
df.index = range(1, len(df) + 1)

# Guardar en un nuevo archivo CSV asegurando que los valores se mantengan sin redondeo
df.to_csv("canasta_basica_urbana_2 DEPURACION.csv", index=False, encoding="utf-8-sig", float_format="%.4f")

# Verificar si los valores se mantienen correctamente después de la eliminación y conversión
df.head(60)  # Muestra las primeras 60 filas

,AÑO,ARTICULO,GRAMOS POR PERSONAS,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE
1,2001,Pan Francés,49,0.0700,0.0700,0.0700,0.0700,0.0700,0.0600,0.0600,0.0700,0.0600,0.0600,0.0700,0.0700
2,2001,Tortillas,223,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1200,0.1200,0.1200,0.1200,0.1100,0.1100
3,2001,Arroz,55,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0400,0.0500,0.0500
4,2001,Carnes 1_ /,60,0.2500,0.2500,0.2500,0.2500,0.2500,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600
5,2001,Grasas 2 _ /,33,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
6,2001,Huevos,28,0.0600,0.0600,0.0600,0.0600,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0600
7,2001,Leche Fluida *,106,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0700,0.0700,0.0700,0.0800,0.0800
8,2001,Frutas 3_ /,157,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0500,0.0600,0.0600,0.0700,0.0700,0.0600
9,2001,Frijoles,79,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0800,0.0900,0.0800
10,2001,Verduras 4_ /,127,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1000,0.1000,0.1100,0.1200,0.1000
11,2001,Azúcar,69,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0500,0.0400
12,2002,Pan Francés,49,0.0700,0.0600,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700
13,2002,Tortillas,223,0.1200,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100
14,2002,Arroz,55,0.0500,0.0500,0.0500,0.0500,0.0500,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400
15,2002,Carnes 1_ /,60,0.2600,0.2600,0.2600,0.2700,0.2600,0.2600,0.2600,0.2700,0.2700,0.2600,0.2700,0.2700
16,2002,Grasas 2 _ /,33,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
17,2002,Huevos,28,0.0600,0.0600,0.0600,0.0600,0.0600,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
18,2002,Leche Fluida *,106,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0700,0.0700,0.0700,0.0800,0.0800,0.0800
19,2002,Frutas 3_ /,157,0.0600,0.0600,0.0600,0.0600,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700
20,2002,Frijoles,79,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0700,0.0700,0.0800,0.0700,0.0700
21,2002,Verduras 4_ /,127,0.0900,0.0900,0.0900,0.1000,0.1200,0.1300,0.1300,0.1100,0.0900,0.1100,0.1000,0.1100
22,2002,Azúcar,69,0.0500,0.0500,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400
23,2003,Pan Francés,49,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0800
24,2003,Tortillas,223,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1200,0.1200,0.1200,0.1100
25,2003,Arroz,55,0.0400,0.0400,0.0400,0.0400,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
26,2003,Carnes 1_ /,60,0.2700,0.2700,0.2700,0.2600,0.2700,0.2600,0.2700,0.2700,0.2700,0.2600,0.2600,0.2600
27,2003,Grasas 2 _ /,33,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0600
28,2003,Huevos,28,0.0500,0.0500,0.0500,0.0600,0.0600,0.0500,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600
29,2003,Leche Fluida *,106,0.0800,0.0800,0.0800,0.0800,0.0700,0.0800,0.0700,0.0800,0.0700,0.0700,0.0700,0.0700
30,2003,Frutas 3_ /,157,0.0600,0.0600,0.0700,0.0600,0.0600,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0600
31,2003,Frijoles,79,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700
32,2003,Verduras 4_ /,127,0.1100,0.1100,0.1000,0.1000,0.1000,0.1100,0.1000,0.1000,0.1100,0.1200,0.1200,0.1200
33,2003,Azúcar,69,0.0400,0.0400,0.0400,0.0400,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
34,2004,Pan Francés,49,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0800,0.0800
35,2004,Tortillas,223,0.1200,0.1100,0.1100,0.1100,0.1200,0.1200,0.1300,0.1300,0.1300,0.1300,0.1300,0.1200
36,2004,Arroz,55,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
37,2004,Carnes 1_ /,60,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600
38,2004,Grasas 2 _ /,33,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600
39,2004,Huevos,28,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600
40,2004,Leche Fluida *,106,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800
41,2004,Frutas 3_ /,157,0.0700,0.0700,0.0600,0.0600,0.0600,0.0600,0.0600,0.0700,0.0600,0.0600,0.0600,0.0600
42,2004,Frijoles,79,0.0700,0.0700,0.0700,0.0700,0.0700,0.0800,0.0900,0.1000,0.1000,0.1100,0.1100,0.1000
43,2004,Verduras 4_ /,127,0.1100,0.1000,0.0900,0.1000,0.1100,0.1100,0.1000,0.0900,0.0900,0.1000,0.1100,0.1000
44,2004,Azúcar,69,0.0500,0.0500,0.0400,0.0400,0.0500,0.0400,0.0400,0.0400,0.0400,0.0400,0.0400,0.0500
45,2005,Pan Francés,49,0.0800,0.0700,0.0800,0.0700,0.0700,0.0700,0.0700,0.0700,0.0700,0.0800,0.0800,0.0800
46,2005,Tortillas,223,0.1300,0.1300,0.1200,0.1200,0.1200,0.1200,0.1300,0.1200,0.1200,0.1300,0.1300,0.1200
47,2005,Arroz,55,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
48,2005,Carnes 1_ /,60,0.2700,0.2700,0.2600,0.2700,0.2700,0.2700,0.2700,0.2700,0.2800,0.2800,0.2800,0.2800
49,2005,Grasas 2 _ /,33,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600
50,2005,Huevos,28,0.0600,0.0600,0.0600,0.0700,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600
51,2005,Leche Fluida *,106,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800,0.0800
52,2005,Frutas 3_ /,157,0.0700,0.0700,0.0700,0.0600,0.0700,0.0600,0.0700,0.0700,0.0700,0.0800,0.0700,0.0700
53,2005,Frijoles,79,0.1000,0.1000,0.1000,0.1000,0.1000,0.1100,0.1000,0.1000,0.1000,0.1100,0.1000,0.1000
54,2005,Verduras 4_ /,127,0.1100,0.1100,0.1100,0.1000,0.1100,0.1200,0.1300,0.1300,0.1300,0.1500,0.1300,0.1200
55,2005,Azúcar,69,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
56,2006,Pan Francés,49,0.0800,0.0700,0.0800,0.0800,0.0700,0.0800,0.0800,0.0700,0.0800,0.0800,0.0800,0.0800
57,2006,Tortillas,223,0.1200,0.1300,0.1200,0.1200,0.1200,0.1200,0.1200,0.1200,0.1200,0.1300,0.1300,0.1300
58,2006,Arroz,55,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
59,2006,Carnes 1_ /,60,0.2900,0.2900,0.2900,0.3000,0.3000,0.3000,0.3000,0.3000,0.3000,0.3000,0.3000,0.3000
60,2006,Grasas 2 _ /,33,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600,0.0600

# TERCERA DEPURACION

In [35]:
import pandas as pd

# Cargar el archivo CSV
DF = pd.read_csv("canasta_basica_urbana_2 DEPURACION.csv")
DF = df.reset_index(drop=True)
DF.index = range(1, len(df) + 1)

# Guarda el DataFrame 'DF' en un nuevo archivo CSV
DF.to_csv('nuevo_archivo.csv', index=False)

DF

,AÑO,ARTICULO,GRAMOS POR PERSONAS,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE
0,2001,Pan Francés,49,0.0700,0.0700,0.0700,0.0700,0.0700,0.0600,0.0600,0.0700,0.0600,0.0600,0.0700,0.0700
1,2001,Tortillas,223,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1200,0.1200,0.1200,0.1200,0.1100,0.1100
2,2001,Arroz,55,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0400,0.0500,0.0500
3,2001,Carnes 1_ /,60,0.2500,0.2500,0.2500,0.2500,0.2500,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600
4,2001,Grasas 2 _ /,33,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,2025,Leche Fluida *,106,0.1174,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
271,2025,Frutas 3_ /,157,0.1694,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
272,2025,Frijoles,79,0.2138,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
273,2025,Verduras 4_ /,127,0.2049,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
274,2025,Azúcar,69,0.0794,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [36]:
import pandas as pd

# Cargar el archivo CSV
DF = pd.read_csv('canasta_basica_urbana_PREPROCESADO.csv')
DF

,AÑO,ARTICULO,GRAMOS POR PERSONAS,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE
0,2001,Pan Francés,49,0.0700,0.0700,0.0700,0.0700,0.0700,0.0600,0.0600,0.0700,0.0600,0.0600,0.0700,0.0700
1,2001,Tortillas,223,0.1100,0.1100,0.1100,0.1100,0.1100,0.1100,0.1200,0.1200,0.1200,0.1200,0.1100,0.1100
2,2001,Arroz,55,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0400,0.0500,0.0500
3,2001,Carnes 1_ /,60,0.2500,0.2500,0.2500,0.2500,0.2500,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600,0.2600
4,2001,Grasas 2 _ /,33,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500,0.0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,2025,Leche Fluida *,106,0.1174,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
271,2025,Frutas 3_ /,157,0.1694,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
272,2025,Frijoles,79,0.2138,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
273,2025,Verduras 4_ /,127,0.2049,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
274,2025,Azúcar,69,0.0794,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000